{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'theme.css'%}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://kit.fontawesome.com/6f27d00af3.js" crossorigin="anonymous"></script>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>      
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>



<body>
  
  <div class='container-fluid'>
    <div class='row'>        
      <div class='col-md-4'>
        <img class="logo" src="./img/LOGO.png" alt="">
      </div>        
    <div class='col-md-8'>
    <nav class='nav w3-container form-inline my-2 my-lg-0'>
        <ul class='mr-auto' >
            <li class='nav__menu-item'><i class="fas fa-chevron-down"><a href="#"></i>Conoce el río</a>
                <ul class='nav__dropdown'>
                    <li class='nav__dropdown-item'><a class='lightblue' href="#">Agua</a></li>
                    <li class='nav__dropdown-item'><a class='green' href="#">Bosque</a></li>
                    <li class='nav__dropdown-item'><a class='yellow' href="#">Usuarios</a></li>
                    <li class='nav__dropdown-item'><a class='darkblue' href="#">Gobernanza</a></li>
                </ul>
            </li class='nav__menu-item'>
            <li class='nav__menu-item'><i class="fas fa-chevron-down"><a href="#"></i><a href="#">Visita el río</a>
                <ul class='nav__dropdown'>
                    <li class='nav__dropdown-item'><a class='lightblue' href="#">Sitios por conocer</a></li>
                    <li class='nav__dropdown-item'><a class='green' href="#">Avisos</a></li>
                    <li class='nav__dropdown-item'><a class='yellow' href="#">Materiales</a></li>
                </ul>
            </li>
            <li class='nav__menu-item'><a href="biblioteca.html">Biblioteca</a></li>
            <li class='nav__menu-item'><a href="#">Estrategia</a></li>
            <li class='nav__menu-item'><a href="#">Contacto</a></li>
        </ul>
        <div class='nav__hamburger'>
            <div class='nav__hamburger-line1'></div>
            <div class='nav__hamburger-line2'></div>
            <div class='nav__hamburger-line3'></div>
        </div>
    </nav>
</div>
</div>
</div>

<div class="subtitle_background">   
  <div class="row">
    <div class="col-md-3"><p class="subtitle_principal">BOSQUE</p></div>
    <div class="col-md-3"><p class="subtitle_principal">CUENCA ALTA</p></div>
    <div class="col-md-3"><p class="subtitle_principal">CUENCA MEDIA</p></div>
    <div class="col-md-3"><p class="subtitle_principal">CUENCA BAJA</p></div>
  </div>
</div>


<div>
  <p class="title_principal">BOSQUE</div>
</div>


  <div class='container'> 
    <div class='row'>        
    
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><h1>Descarga aquí...</h1></div>
            <div class="col-md-12"><a class="btn btn-primary" href="#">Button</a></div>
            <div class="col-md-12"><a class="btn btn-primary" href="#">Button</a></div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Mapas
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Mapa de vegetación conservada y no conservada</a></li>
                <li><a class="dropdown-item" href="#">Mapa de áreas de importancia CONABIO</a></li>
                
              </ul>
            </div>

          </div>
        </div>


        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><h1>Sigue descubriendo...</h1></div>
            <div class="col-md-12"><a class="btn btn-secondary" href="#">Secondary</a></div>
            <div class="col-md-12"><a class="btn btn-secondary" href="#">Secondary</a></div></div>
            
          </div>
        </div>
    </div>
  </div>


  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <h1>Texto de cada hoja</h1>
        </div>


        <div class="col-md-4">
          <h4 class="mt-lg-0 mt-sm-3">Sitios relacionados</br>-----</h4>
            <ul class="m-0 p-0">
              <li> <a href="#">Lorem ipsum</a></li>
              <li> <a href="#">Nam mauris velit</a></li>
              <li> <a href="#">Etiam vitae mauris</a></li>
              <li> <a href="#">---------</a></li>
            </ul>
        </div>

        
        <dic class="col-md-4">
          <img class="logo_right" src="./img/UNAM.png" alt="">
          <img class="logo_left" src="./img/ciencias.png" alt="">
        </div>  

         
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class="style_text"><small class="text-white-50"> ©Laboratorio de Ecosistemas de Montaña, Facultad de Ciencias, UNAM, 2020.</small></p>
        </div>
      </div>
    </div>
  </div>
    
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>